/* for all */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

body {
    background-color: #fcf6f6;
}

.section {
    width: 80%;
    margin: 50px auto;
}

/* header description */
.header {
    background-color: #FFF4E7;
    margin-bottom: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.nav-title {
    font-size: 35px;
}

.nav>ul {
    display: flex;
    list-style: none;
}

nav>ul>li {
    margin-left: 4em;
    font-size: 13px;
    color: #424242;
    font-weight: 600;
}

.header-description {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.header-description-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 60px;
    margin-bottom: 30px;
}

.primary-para {
    color: #727272;
    font-size: 12px;
    line-height: 22px;
}

.primary-button {
    width: 170px;
    height: 55px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 30px;
}

/* banner */
.header-banner>img {
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
}

/* Team */
.team {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.team>.team-image {
    width: 100%;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.team-image>img {
    border-radius: 5px;
    width: 100%;
}

.team-description > div {
    padding: 30px;
}

.team-description>div>h1 {
    font-size: 35px;
}

.team-description>div>h1>span {
    font-weight: 600;
    color: #727272;
}

.team-feature {
    color: #FF900E;
    margin-bottom: 20px;
}

/* Features */
.features {
    text-align: center;
    position: relative;
    top: -50px;
}

.feature-section {
    display: flex;
    margin-top: 100px;
    text-align: left;
}

.feature-section>div {
    width: 100%;
}

.feature-image {
    width: 55%;
}

.feature-title {
    font-size: 35px;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
    margin-bottom: 15px;
}

.feature-items {
    margin-top: 45px;
    line-height: 20px;
    background-color: white;
    padding: 20px;
    margin-right: 100px;
}

.feature-items-title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
}

.big-button {
    background-color: #FF900E;
    height: 160px;
    width: 250px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    position: relative;
    top: -90px;
    left: 10px;
}

.big-button>span {
    font-size: 40px;
    font-weight: 700;
}

/* fact */

.facts-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.fact-items {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.fact-item {
    text-align: center;
    border: 1px solid #ff8f0ece;
    border-radius: 5px;
    height: 175px;
    width: 185px;
    padding-top: 40px;
}

.fact-item h2 {
    margin: 10px 0;
}

/* Sponspors */
.Sponspors {
    text-align: center;
    margin-top: 100px;
}

.Sponspors-items {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

/* footer */
.footer {
    text-align: center;
    background-color: #4242421a;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 20px;

}