/* for all */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

body {
    background-color: #fcf6f6;
}

.section {
    width: 80%;
    margin: 50px auto;
}

/* header description */
.header {
    background-color: #FFF4E7;
    margin-bottom: 30px;
}

.header-description {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.header-description-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 60px;
}

.primary-para {
    color: #727272;
    font-size: 13px;
    line-height: 22px;
}

.primary-button {
    width: 170px;
    height: 55px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

/* banner */
.header-banner>img {
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
}

/* Team */
.team {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.team>div {
    width: 50%;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.team-image>img {
    border-radius: 5px;
    width: 100%;
}

.team-description>h1 {
    font-size: 35px;
}

.team-description>h1>span {
    font-weight: 600;
    color: #727272;
}

.team-feature {
    color: #FF900E;
}

/* Features */
.features {
    text-align: center;
    position: relative;
    top: -50px;
}

.feature-section {
    display: flex;
    margin-top: 100px;
    text-align: left;
}

.feature-section>div {
    width: 100%;
}

.feature-image {
    width: 50%;
}

.feature-title {
    font-size: 35px;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
    margin-bottom: 15px;
}

/* 
.feature-data {
    margin: 20px;
} */

.feature-items {
    margin-top: 45px;
    line-height: 20px;
    background-color: white;
    padding: 20px;
    margin-right: 100px;
}

.feature-items-title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
}

.big-button {
    background-color: #FF900E;
    height: 160px;
    width: 250px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    position: relative;
    top: -90px;
    left: 35px;
}

.big-button>span {
    font-size: 40px;
    font-weight: 700;
}